<script>
    const darkStored = localStorage.getItem('theme') === 'dark';

    if (darkStored) {
        document.documentElement.setAttribute('data-theme', 'dark');
    }
</script>
{% load static %}
<div class="app-navbar-buttons">

    <span class="button app-navbar-button" id="theme-toggle">
        <i class="fi" id="theme-icon"></i>
        <p id="theme-label"></p>
    </span>

    <span class="button app-navbar-button" id="musicButton">
        <i class="fi fi-rc-volume-mute" id="musicIcon"></i>
        <p id="musicLabel">Lofi live</p>
    </span>
</div>
<script src="{% static 'js/dark-mode.js' %}"></script>

<div id="youtube-player"></div>

<script src="https://www.youtube.com/iframe_api"></script>
<script src="{% static 'js/player.js' %}"></script>
