<nav class="navbar navbar-border">
    <div class="nav-left">
        <a href="#" class="nav-logo">Zen<span>Orbit</span></a>
    </div>
    <div class="nav-center">
        <div class="navbar-links">
            <a href="#productivity">Productivity</a>
            <a href="#ai-study">AI Study</a>
            <a href="#contact">Contact</a>
        </div>
    </div>
    <div class="nav-right">
        {% url 'login' as login_url %}
        {% url 'signup' as signup_url %}
        {% include "components/button/link-button-secondary.html" with href=login_url text="Login" %}
        {% include "components/button/link-button-primary.html" with href=signup_url text="Sign Up" %}
    </div>
</nav>
