{% extends "unauthorized/base_unauthorized.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="home-layout">
        <!-- BANNER -->
        <section id="banner">
            <h1>Welcome to Home</h1>
            <p>This is the home page of our Django project.</p>
        </section>

        <!-- Productivity -->
        <section id="productivity">
            <h2>Productivity</h2>
        </section>

        <!-- Study -->
        <section id="ai-study">
            <div class="study-card">
                <div class="study-header">
                    <p class="ai-study">AI STUDY</p>
                    <h2 class="study-title">Study boosted with AI</h2>
                </div>
                <div class="study-grid">
                    {% include "components/card/feature-card.html" with icon_class="fi-rs-book-alt" title="Smart Summaries" description="Generate smart summaries from your syllabus." %}
                    {% include "components/card/feature-card.html" with icon_class="fi-ts-book-brain" title="Flashcards" description="AI-generated review cards that adapt to your level." %}
                    {% include "components/card/feature-card.html" with icon_class="fi-rr-interrogation" title="Multioption & Fill Blanks" description="Multi-option and fill in spaces to test your knowledge." %}
                    {% include "components/card/feature-card.html" with icon_class="fi-br-star-microphone" title="Podcast" description="Turn your notes into podcasts to learn by listening." %}
                </div>
            </div>
        </section>

        <!-- Contact -->
        <section id="contact">
            <div class="contact-layout">
                <div class="section-header">
                    <span class="section-badge">CONTACT</span>
                    <h2 class="section-title">Do you have any questions?</h2>
                    <p class="section-subtitle">Tell us and we will reply ASAP!</p>
                </div>
                <div class="contact-form">
                    <form method="post">
                        {% csrf_token %}
                        <div id="contact-fields">
                            {% include "components/forms/_form_fields.html" %}
                        </div>
                        {% include "components/button/submit-button-primary.html" with type="submit" text="Send" icon_right="fi-rr-paper-plane" %}
                    </form>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <section id="footer">
        {% include "components/footer/footer.html" %}
    </section>
{% endblock %}
