{% extends "unauthorized/base_unauthorized.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- BANNER -->
    <section id="banner">
        <h1>Welcome to Home</h1>
        <p>This is the home page of our Django project.</p>
    </section>

    <!-- Productivity -->
    <section id="productivity">
        <h2>Productivity</h2>
    </section>

    <!-- Study -->
    <section id="ai-study">
        <h2>AI Study</h2>
    </section>

    <!-- Contact -->
    <section id="contact">
        <div class="contact-card">
            <div class="contact-header">
                <p class="contact">CONTACT</p>
                <h2 class="contact-question">Do you have any question?</h2>
                <p class="contact-subtitle">Tell us and we will reply ASAP!</p>
            </div>
            <div class="contact-form">
                <form method="post">
                    {% csrf_token %}
                    {% include "components/forms/_form_fields.html" %}
                    {% include "components/button/base-link-button.html" with href="/contact" text="Send" button_type="button-primary" icon_right="fi-rr-paper-plane" %}
                </form>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <section id="footer">
        {% include "components/footer/footer.html" %}
    </section>
{% endblock %}
