{% for error in form.non_field_errors %}
    <small class="error-text">{{ error }}</small>
{% endfor %}

{% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}" class="form-label">
            {{ field.label }}
            {% if field.help_text %}
            <span class="info-hint" tabindex="0" aria-label="More information">
                <i class="fi fi-rr-info"></i>
                <small class="help-text">{{ field.help_text }}</small>
            </span>
            {% endif %}
        </label>
        {{ field }}

        {% for error in field.errors %}
        <small class="error-text">{{ error }}</small>
        {% endfor %}
    </div>
{% endfor %}
