.contact-card {
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.contact-card .contact-header {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    align-items: center;
}

.contact-card .contact {
    margin: 0;
    padding: 0;
    color: var(--primary);
}

.contact-card .contact-question {
    font-size: xx-large;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.contact-card .contact-subtitle {
    color: var(--muted-foreground);
    font-weight: lighter;
    margin:0;
    padding: 0;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "nombre  mensaje"
        "email   mensaje"
        "asunto  mensaje"
        "btn     btn";
    gap: 12px;
}

.contact-form .form-group:nth-of-type(1) { grid-area: nombre; }
.contact-form .form-group:nth-of-type(2) { grid-area: email; }
.contact-form .form-group:nth-of-type(3) { grid-area: asunto; }
.contact-form .form-group:nth-of-type(4) { grid-area: mensaje; }

.contact-form .form-group:nth-of-type(4) textarea {
    height: 100%;
    resize: none;
    box-sizing: border-box;
}

.contact-form .button {
    grid-area: btn;
    justify-self: end;
}