@import "subjects.css";
@import "tasks.css";

.app-layout {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "sidebar navbar"
        "sidebar main";
    height: 100vh;
    transition: grid-template-columns .2s ease;
}

.app-layout.sidebar-collapsed,
.sidebar-collapsed-pref .app-layout {
    grid-template-columns: var(--sidebar-collapsed-width) 1fr;
}

/* -------------- Sidebar -------------- */
.app-sidebar {
    grid-area: sidebar;
    border-right: 1px solid var(--border);
    background-color: var(--card);
}

.sidebar-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar-top {
    padding: 1rem 2.5rem;
    border-bottom: 1px solid var(--border);
}

.sidebar-toggle {
    padding: .5rem 2rem;
    border-bottom: 1px solid var(--border);
    color: var(--muted-foreground);
}

.sidebar-collapse-button {
    width: 100%;
    border: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
}

.sidebar-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: smaller;
    font-weight: lighter;
    border-radius: 10px;
    padding: .5rem .5rem;
    transition: 0.3s;
}

.logout-item {
    color: var(--primary);
}

.sidebar-item:hover,
.sidebar-item:focus,
.sidebar-item.is-active{
    background-color: var(--muted);
    color: var(--foreground);
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 1rem;
    flex-grow: 1;
}

.sidebar-nav-group {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.sidebar-nav-group-title {
    color: var(--muted-foreground);
    font-size: small;
    font-weight: lighter;
    margin: 0;
    padding: .25rem .5rem;
}

.sidebar-nav-items {
    display: flex;
    flex-direction: column;
    gap: .2rem 0;
}

.sidebar-footer {
    padding: 2rem 2rem;
}

.app-layout.sidebar-collapsed .sidebar-top,
.sidebar-collapsed-pref .app-layout .sidebar-top {
    padding: 1rem;
    text-align: center;
}

.app-layout.sidebar-collapsed .nav-logo span,
.app-layout.sidebar-collapsed .sidebar-item span,
.app-layout.sidebar-collapsed .sidebar-nav-group-title,
.sidebar-collapsed-pref .app-layout .nav-logo span,
.sidebar-collapsed-pref .app-layout .sidebar-item span,
.sidebar-collapsed-pref .app-layout .sidebar-nav-group-title {
    display: none;
}

.app-layout.sidebar-collapsed .sidebar-toggle,
.app-layout.sidebar-collapsed .sidebar-nav,
.app-layout.sidebar-collapsed .sidebar-footer,
.sidebar-collapsed-pref .app-layout .sidebar-toggle,
.sidebar-collapsed-pref .app-layout .sidebar-nav,
.sidebar-collapsed-pref .app-layout .sidebar-footer {
    padding-left: 1rem;
    padding-right: 1rem;
}

.app-layout.sidebar-collapsed .sidebar-item,
.sidebar-collapsed-pref .app-layout .sidebar-item {
    justify-content: center;
    gap: 0;
}

.app-layout.sidebar-collapsed .sidebar-collapse-button i,
.sidebar-collapsed-pref .app-layout .sidebar-collapse-button i {
    transform: rotate(180deg);
}

/* -------------- Navbar -------------- */
.app-navbar {
    grid-area: navbar;
    padding: .5rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    border-bottom: 1px solid var(--border);
}

.app-navbar-buttons {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.app-navbar-button {
    display: inline-flex;
    align-items: center;
    gap: .5rem;

    color: var(--muted-foreground);
    background-color: inherit;
    font-weight: lighter;
}

.app-navbar-button:hover {
    color: var(--foreground);
    background-color: var(--muted);
}

.app-navbar-button p{
    margin: 0;
}

/* -------------- Main content -------------- */
.app-main {
    grid-area: main;
    overflow-y: scroll;
    margin: 3rem 10rem;
}

.app-title {
    margin: 0;
}

.app-subtitle {
    color: var(--muted-foreground);
    font-weight: lighter;
    margin: 0;
}

/* -------------- Breadcrumb -------------- */
.breadcrumb {
    color: var(--muted-foreground);
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.breadcrumb a {
    transition: 0.3s;
}

.breadcrumb a:hover {
    color: var(--foreground);
}

.breadcrumb i {
    display: inline-flex;
    align-self: center;
}

/* -------------- Priority badge -------------- */
.priority-badge {
    margin-left: auto;
    display: inline-block;
}

.priority-badge span {
    font-size: small;
    font-weight: normal;
    padding: .2rem .4rem;
    border-radius: var(--radius);
}

.priority-badge-low span {
    background-color: rgba(0, 128, 0, .25);
    color: green;
}

.priority-badge-medium span {
    background-color: rgba(255, 165, 0, .25);
    color: orange;
}

.priority-badge-high span {
    background-color: rgba(255, 0, 0, .25);
    color: red;
}
