<div class="footer-div">
    <div class="footer-left">
        <a href="#" class="nav-logo">Zen<span>Orbit</span></a>
    </div>
    <div class="footer-center">
        <div class="footer-links">
            <a href="#productivity">Productivity</a>
            <a href="#ai-study">AI Study</a>
            <a href="#contact">Contact</a>
        </div>
    </div>
    <div class="footer-right">
        <div class="footer-link">
            <a href="#">Terms & Conditions</a>
        </div>

        <div class="footer-copyright">
            <p>© 2026 ZenOrbit</p>
        </div>

    </div>
</div>