<div class="sidebar-layout">
    <div class="sidebar-top">
        <a href="#" class="nav-logo">Zen<span>Orbit</span></a>
    </div>
    <div class="sidebar-toggle">
        <span class="sidebar-item">
            <i class="fi fi-rr-angle-double-left"></i>
            Collapse
        </span>
    </div>
    <div class="sidebar-nav">
        <div class="sidebar-nav-group">
            <p class="sidebar-nav-group-title">Main</p>
            <div class="sidebar-nav-items">
                <a href="{% url 'productivity_site:dashboard' %}"
                   class="sidebar-item{% if request.resolver_match.url_name == 'dashboard' %} is-active{% endif %}">
                    <i class="fi fi-rr-layout-fluid"></i>
                    <span>Dashboard</span>
                </a>

                <a href="{% url 'productivity_site:calendar' %}"
                   class="sidebar-item{% if request.resolver_match.url_name == 'calendar' %} is-active{% endif %}">
                    <i class="fi fi-rr-calendar-day"></i>
                    <span>Calendar</span>
                </a>

                <a href="{% url 'productivity_site:subjects' %}"
                   class="sidebar-item{% if request.resolver_match.url_name == 'subjects' %} is-active{% endif %}">
                    <i class="fi fi-rr-book-alt"></i>
                    <span>Subjects</span>
                </a>
            </div>
        </div>
        <div class="sidebar-nav-group">
            <p class="sidebar-nav-group-title">Tools</p>
            <a href="{% url 'productivity_site:productivity' %}"
               class="sidebar-item{% if request.resolver_match.url_name == 'productivity' %} is-active{% endif %}">
                <i class="fi fi-rr-clock-up-arrow"></i>
                <span>Productivity</span>
            </a>
        </div>

    </div>
    <div class="sidebar-footer">
        <div class="sidebar-nav-items">
                <a href="{% url 'productivity_site:profile' %}"
                   class="sidebar-item{% if request.resolver_match.url_name == 'profile' %} is-active{% endif %}">
                    <i class="fi fi-rr-user"></i>
                    <span>Profile</span>
                </a>

                <a href="{% url 'productivity_site:logout' %}"
                   class="sidebar-item logout-item">
                    <i class="fi fi-rr-exit"></i>
                    <span>Log out</span>
                </a>
            </div>
    </div>
</div>