{% extends "authorized/base_authorized.html" %}
{% load static %}

{% block title %}{{ subtask.name }}{% endblock %}

{% block page_content %}
    <div class="details-layout">
        <!-- Breadcrumb -->
        <div class="breadcrumb">
            <a href="{% url 'productivity_site:subjects' %}">Subjects</a>
            <i class="fi fi-rr-angle-small-right"></i>
            <a href="{% url 'productivity_site:subject_read' subject.subject_id %}">{{ subject.name }}</a>
            <i class="fi fi-rr-angle-small-right"></i>
            <a href="{% url 'productivity_site:task_read' subject.subject_id task.task_id %}">{{ task.name }}</a>
            <i class="fi fi-rr-angle-small-right"></i>
            <span style="color: {{ subject.color }}">{{ subtask.name }}</span>
        </div>

        <!-- Header -->
        <div class="details-header">
            <h1>{{ subtask.name }}</h1>
            <p>{{ subtask.description }}</p>
        </div>

        <!-- Subtask status -->
        {% include "authorized/subtasks/_subtask_status.html" %}

        <!-- Subtask details -->
        <div class="subtask-details-card card">
            <h3>Details</h3>
            <p>{{ subtask.description }}</p>

            <div class="subtask-details-meta">
                <div class="subtask-details-meta-item">
                    <i class="fi fi-rr-book-alt"></i>
                    <span>{{ subject.name }}</span>
                </div>
                <div class="subtask-details-meta-item">
                    <i class="fi fi-rr-layers"></i>
                    <span>Task: {{ task.name }}</span>
                </div>
                <div class="subtask-details-meta-item">
                    <i class="fi fi-rr-clock-five"></i>
                    <span>{{ subtask.estimated_time }} min estimated</span>
                </div>
                <div class="subtask-details-meta-item">
                    <span>Priority:</span>
                    <div class="priority-badge priority-badge-{{ subtask.priority }}">
                        <span>{{ subtask.priority }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% url 'productivity_site:subtask_update' subject.subject_id task.task_id subtask.subtask_id as edit_url %}
    {% url 'productivity_site:subtask_delete' subject.subject_id task.task_id subtask.subtask_id as delete_url %}
    {% include "components/actions/floating_actions.html" with edit_url=edit_url delete_url=delete_url object_type="subtask" object_name=subtask.name delete_warning="Only this subtask will be deleted." %}
    <script src="{% static 'js/subtask-detail.js' %}"></script>
{% endblock %}
