<!-- templates/base.html -->

{% load static %}  <!-- activates the 'static' tag for loading CSS, images, etc. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
        if (localStorage.getItem("sidebar-collapsed") === "true") {
            document.documentElement.classList.add("sidebar-collapsed-pref");
        }
    </script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/4.0.0/uicons-thin-straight/css/uicons-thin-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/4.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/4.0.0/uicons-regular-chubby/css/uicons-regular-chubby.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/4.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <title>{% block title %}My Site{% endblock %}</title>  <!-- child templates override this -->
    {% block specific_css %}{% endblock %}
</head>
<body>
    {% block templateBody %}{% endblock %}
</body>
</html>
