<!-- templates/base.html -->

{% load static %}  <!-- activates the 'static' tag for loading CSS, images, etc. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">  <!-- generates /static/blog/style.css -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/4.0.0/uicons-thin-straight/css/uicons-thin-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/4.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <title>{% block title %}My Site{% endblock %}</title>  <!-- child templates override this -->
    {% block specific_css %}{% endblock %}
</head>
<body>
    {% block templateBody %}{% endblock %}
</body>
</html>
